@import url('https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css');

body {
  margin: 0;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  background-image: url("fundo-do-mar-para-videoconferencia_23-2148632597.webp");
  background-size: cover;  
}

.none {
  display: none;
}